@import url(font-awesome.min.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Rubik'sans-serif;
  font-size: 15px;
}

.cover-slide .carousel {
  max-height: 640px;
  overflow: hidden;
}

.cover-slide .carousel .carousel-indicators > .active {
  background-color: #D65106;
}

.cover-slide .carousel .carousel-indicators > li {
  width: 35px;
  height: 6px;
  margin: 0 5px;
}

.cover-slide .carousel .carousel-inner .carousel-item .overlay-background {
  background: #333;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.cover-slide .carousel .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  left: 12%;
  top: 20%;
  width: auto;
  text-align: left;
}

.cover-slide .carousel .carousel-inner .carousel-item .carousel-caption h1 {
  font-size: 70px;
}

.cover-slide .carousel .carousel-inner .carousel-item .carousel-caption p {
  font-size: 20px;
  margin-bottom: 25px;
}

.cover-slide .carousel .carousel-inner .carousel-item .carousel-caption a {
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: #d65106;
  padding: 20px 35px;
  margin: 10px 0;
  border-radius: 5px;
  display: inline-block;
}

.cover-slide .carousel .carousel-inner .carousel-item .carousel-caption a:hover {
  background-color: #333;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.cover-slide .carousel .carousel-control-prev,
.cover-slide .carousel .carousel-control-next {
  opacity: .5;
}

.cover-slide .carousel .carousel-control-prev span,
.cover-slide .carousel .carousel-control-next span {
  background-color: #D65106;
  padding: 15px 15px 10px;
  border-radius: 8px;
}

.cover-slide .carousel .carousel-control-prev span:hover,
.cover-slide .carousel .carousel-control-next span:hover {
  background-color: #000;
}

.about {
  background-image: url(../images/about-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 80px 0;
}

.about .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, auto-fit);
  grid-column-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .container .text-area h2 {
  font-size: 32px;
}

.about .container .text-area h2 span {
  color: #D65106;
}

.about .container .text-area h5 {
  font-size: 17px;
  margin: 15px 0;
}

.about .container .text-area p {
  font-size: 19px;
  margin-bottom: 20px;
}

.about .container .text-area a {
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: #d65106;
  padding: 20px 35px;
  margin: 10px 0;
  border-radius: 5px;
  display: inline-block;
}

.about .container .text-area a:hover {
  background-color: #333;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.about .container .image-area img {
  width: 100%;
  -webkit-box-shadow: #d65106 20px 20px;
          box-shadow: #d65106 20px 20px;
}

.wrapper {
  background-image: url(../images/qt-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 60px 20px;
}

.wrapper .content p,
.wrapper .content span {
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
}

.wrapper .content p:last-child,
.wrapper .content span:last-child {
  font-weight: 600;
}

.special-menu {
  background-color: #fff;
}

.special-menu .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  text-align: center;
}

.special-menu .caption h3 {
  margin-bottom: 20px;
}

.special-menu .caption p {
  font-size: 18px;
}

.special-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.special-menu .container .nav-pills {
  width: 20%;
  margin-right: 25px;
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
  height: 100%;
}

.special-menu .container .nav-pills .active {
  color: #fff;
  background-color: #d65106;
}

.special-menu .container .nav-pills a {
  font-size: 20px;
  color: #000;
  -webkit-transition: all ease-in .1s;
  transition: all ease-in .1s;
}

.special-menu .container .nav-pills a:hover {
  color: #fff;
  background-color: #d65106;
}

.special-menu .container .tab-content {
  width: 80%;
}

.card-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(210px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 20px;
}

.card-wrapper > div {
  height: 170px;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.75);
  position: relative;
  overflow: hidden;
}

.card-wrapper > div .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #c78836ad;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFF;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  padding: 10px 15px;
}

.card-wrapper > div .content h5 {
  margin: 0;
}

.card-wrapper > div .content p {
  font-size: 15px;
  padding: 15px 0;
  border-bottom: 1px dashed #000;
  margin: 5px 0;
}

.card-wrapper > div .content span {
  font-size: 18px;
  font-weight: 600;
}

.card-wrapper > div:hover .content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-wrapper > div img {
  width: 100%;
  height: 100%;
}

.gallery {
  background-color: #fff;
  padding: 50px 0;
}

.gallery .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10px;
  text-align: center;
}

.gallery .row > div {
  margin-bottom: 20px;
}

.gallery .row > div img {
  width: 100%;
  border: 4px solid #D65106;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.gallery .row > div img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  border: 0;
}

.customer-reviews {
  padding: 70px 0;
  background-color: #fff;
}

.customer-reviews .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 40px;
  text-align: center;
}

.customer-reviews .caption p {
  font-size: 18px;
}

.customer-reviews .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 12%;
}

.customer-reviews .content .image-box {
  width: 150px;
  border: 1px solid #d1d1d1;
  border-radius: 100%;
  padding: 5px;
}

.customer-reviews .content .image-box img {
  width: 100%;
}

.customer-reviews .content h3 {
  margin: 10px 0 5px;
  color: #D65106;
}

.customer-reviews .content p {
  padding: 15px 0;
  line-height: 1.6;
}

.customer-reviews .carousel-control-prev-icon,
.customer-reviews .carousel-control-next-icon {
  background-color: #D65106;
  width: 8%;
  height: 40px;
  padding: 10px;
  border-radius: 12px;
}

.contact-info {
  background-color: #D65106;
  border-radius: 100px;
}

.contact-info .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

.contact-info .content > div {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-info .content > div .icon {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-right: 10px;
}

.contact-info .content > div .icon i {
  font-size: 30px;
  color: #D65106;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.contact-info .content > div h5 {
  font-size: 22px;
  margin: 0;
}

.contact-info .content > div p {
  font-size: 20px;
}

.contact-info .content > i {
  font-size: 20px;
  padding: 10px;
  color: #fff;
  margin: 10px;
}

footer {
  background-image: url(../images/footer-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
}

footer .overlay {
  width: 100%;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

footer h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid rgba(207, 166, 113, 0.7);
  padding: 10px 0;
  margin-bottom: 10px;
}

footer p, footer a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 1.7;
}

footer a:hover {
  color: #D65106;
  text-decoration: none;
}

footer .subscribe form .email {
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  background-color: #000;
  border: 0;
  outline: none;
  border-right: 3px solid #D65106;
  border-bottom: 3px solid #D65106;
  border-radius: 8px 8px 0 0;
}

footer .subscribe form .submit {
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  background-color: #000;
  border: none;
  outline: none;
  border-left: 3px solid #D65106;
  border-radius: 0 0 8px 8px;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

footer .subscribe form .submit:hover {
  background-color: #D65106;
  color: #000;
  font-weight: 700;
}

footer .subscribe ul {
  padding: 20px 0 0;
}

footer .subscribe ul li {
  float: left;
  list-style: none;
  padding: 3px;
  text-align: center;
}

footer .subscribe ul li a {
  color: #D65106;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: block;
  border-radius: 7px;
  font-size: 18px;
}

footer .subscribe ul li a i {
  -webkit-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;
}

footer .subscribe ul li a:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .contact-us p, footer .contact-us a {
  font-size: 18px;
  font-weight: 500;
}

footer .copyright {
  background-color: #000;
  margin-top: 25px;
  padding: 20px 0;
  border-top: 1px solid rgba(207, 166, 113, 0.7);
}

footer .copyright p {
  text-align: center;
}

footer .copyright p a {
  color: #fff;
  font-size: 17px;
}

footer .copyright p a:hover {
  color: #D65106;
}

.main-header {
  background-color: #F8F9FA;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

.main-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  position: relative;
  height: 100%;
  position: relative;
}

.main-header .container .brand {
  margin: 20px 0 20px 40px;
}

.main-header .container .brand img {
  width: 100%;
  height: 100%;
}

.main-header .container .nav .colse-menu {
  position: absolute;
  top: 40px;
  right: 205px;
  padding: 0px 10px;
  font-size: 20px;
  color: white;
  background: #333;
  border: 1px solid rgba(134, 134, 134, 0.5);
  border-radius: 7px;
  outline: 0;
  display: none;
}

.main-header .container .nav .colse-menu:hover {
  color: #D65106;
}

.main-header .container .nav ul {
  margin: 0;
  padding: 0px;
}

.main-header .container .nav ul li {
  list-style: none;
  float: left;
  padding: 3px;
  position: relative;
}

.main-header .container .nav ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.main-header .container .nav ul li a .d-icon {
  font-weight: normal;
}

.main-header .container .nav ul li a:hover {
  background-color: #D65106;
  color: #fff;
}

.main-header .container .nav ul li:first-child a {
  background-color: #D65106;
  color: #fff;
}

.main-header .container .nav ul li .d-item {
  position: absolute;
  left: 0;
  top: 35px;
  background: #fff;
  width: 150px;
  padding: 10px;
  display: none;
}

.main-header .container .nav ul li .d-item a {
  display: block;
  border-radius: 0;
}

.main-header .container .btn-menu {
  padding: 0 12px;
  margin: 0 60px;
  font-size: 28px;
  color: #464646;
  background-color: #F8F9FA;
  border: 1px solid rgba(134, 134, 134, 0.5);
  outline: 0;
  display: none;
}

.main-header .container .btn-menu:hover {
  color: #D65106;
}

@media (max-width: 767px) {
  .main-header .container .btn-menu {
    display: block;
  }
  .main-header .container .nav {
    height: 800px;
    position: absolute;
    right: -400px;
    top: 0px;
    background-color: rgba(75, 75, 75, 0.9);
    width: 300px;
    padding-top: 120px;
  }
  .main-header .container .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 100%;
  }
  .main-header .container .nav ul li {
    padding: 2px;
    margin-left: 10px;
  }
  .main-header .container .nav ul li a {
    width: 100%;
    display: block;
    padding: 10px;
    color: #fff;
  }
  .main-header .container .nav ul li .d-item {
    position: unset;
    background: initial;
    width: auto;
    padding: 0;
  }
  .main-header .container .nav ul li .d-item a {
    padding: 7px;
    margin-left: 10px;
    border-radius: 7px;
  }
}

@media (max-width: 767px) {
  .about .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .all {
    height: 550px;
    overflow-y: auto;
  }
  .contact-info .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
  }
  .contact-info .content > i {
    display: none;
  }
}

@media (min-width: 280px) and (max-width: 599px) {
  .about .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .special-menu .container {
    display: block;
  }
  .special-menu .container .tab-content {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */