//globle

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}



// start carousel
.cover-slide {
    .carousel {
        max-height: 640px;
        overflow: hidden;

        .carousel-indicators {

            >.active {
                background-color: #D65106;
            }

            >li {
                width: 35px;
                height: 6px;
                margin: 0 5px;
            }
        }

        .carousel-inner {
            .carousel-item {
                .overlay-background {
                    background: #333;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    left: 0;
                    top: 0;
                    opacity: 0.5;
                }

                .carousel-caption {
                    position: absolute;
                    left: 12%;
                    top: 20%;
                    width: auto;
                    text-align: left;

                    h1 {
                        font-size: 70px;
                    }

                    p {
                        font-size: 20px;
                        margin-bottom: 25px;
                    }

                    a {
                        font-size: 19px;
                        font-weight: 600;
                        text-decoration: none;
                        color: #fff;
                        background-color: #d65106;
                        padding: 20px 35px;
                        margin: 10px 0;
                        border-radius: 5px;
                        display: inline-block;

                        &:hover {
                            background-color: #333;
                            transition: all .3s;
                        }
                    }
                }
            }
        }

        .carousel-control-prev ,
        .carousel-control-next{
            opacity: .5;
        }

        .carousel-control-prev span,
        .carousel-control-next span{
            background-color: #D65106;
            padding: 15px 15px 10px ;
            border-radius: 8px;
            &:hover{
                background-color: #000;

            }
        }

        
    }
}

@import url(font-awesome.min.css);
@import "header";
@import "bg.wrapper-About";
@import "tabs";
@import "gallery";
@import "customer-reviews";
@import "contact-info";
@import "footer";